
.mainContents {
  // justify-content: space-around;
  position: absolute;
  top: 90vh;
  left: 0;
  width: 100vw;
  height: auto;
  background: #ffffff;
}
// 変数定義
// $themeColor_0:    #2b2247;
// $themeColor_1:      #414770;
// $themeColor_2:   #5B85AA;
// $themeColor_lightblue: #80bcf1;
// $themeColor_beige:     #edcd7a;
// $themeColor_3:    #f4be36;
// $themeColor_orange:    #F46036;`
$themeColor_0:    #06042f;
$themeColor_1:      #3d2863;
$themeColor_2:   #DB504A;
$themeColor_lightblue: #db874b;
$themeColor_beige:     #edcd7a;
$themeColor_3:    #E3B505;
$themeColor_orange:    #e38305;

$production_height: 80vh;

$productionContent-box_color_0_width:              7.5vw;
$productionContent-box_color_1_width:                25vw;
$productionContent-box_color_2_width:             5vw;
$productionContent-box_color_3_width:              2.5vw;
$productionContent-box_color_3_status_hover_width: 10vw;

$productionContent-box_width:
  $productionContent-box_color_0_width  + $productionContent-box_color_1_width +
  $productionContent-box_color_2_width + $productionContent-box_color_3_width ;

// ####### グループ #######
.productionGroup {
  display: none; //Javascriptで動的に生成したあとfadeInさせるためのdisplay: none
  position: relative;
  margin: $production_height / 4 0;
  width: 100vw;
}

.productionGroup-name {
  width: inherit;
  height: $production_height / 3;
  background: linear-gradient(90deg, #70e6b4, #28a3df, #1a3399, #46129a);
  p {
    position: relative;
    color: #fff;
    font-size: 7.5vmin;
  }
}

.productionGroup-contents {
  width: 100vw;
  height: auto;
}





// ####### 制作物 #######
.production {
  position: relative;
  overflow: visible;
  margin: 6vmin 0;
  width: 100vw;
  height: $production_height;

}

// ####### 説明部分 #######
.productionContent {
  position: absolute;
  z-index: 2;
  width: auto;
  height: inherit;
  overflow: hidden;
  justify-content: flex-start;
}

.productionContent-box { //下の色の要素全部
  overflow: hidden;
  height: inherit;
}

.productionTextField { //説明
  overflow: hidden;
  position: absolute;
  width: $productionContent-box_color_0_width + $productionContent-box_color_1_width;
  height: inherit;
  justify-content: center;
  p {
    margin: 0;
    font-family: 'Mplus 1p';
    color: #fff;
  }
  p.productionName {
    font-family: 'Russo One', 'Mplus 1p';
    font-weight: bold;
    font-size: 7.5vmin;
  }
  p.productionURL {
    margin: 0 1vmin;
    font-size: 2.5vmin;
    color: $themeColor_lightblue;
  }
  .productionDescription {
    margin: 3vmin 0;
    width: inherit;
    height: auto;
    p {
      font-family: 'Mplus 1p';
      margin: 0 1vmin;
      font-size: 3vmin;
      color: $themeColor_beige;
    }
  }
}

.productionJumpButton { //タッチデバイスの時だけ表示するボタン
  opacity: 0; //非表示に
  position: absolute;
  bottom: 0;
  background: $themeColor_beige;
  width: $productionContent-box_color_0_width + $productionContent-box_color_1_width + $productionContent-box_color_2_width;
  height: 10vmin;
  a {
    color: #fff;
    font-family: 'Russo One';
    font-style: italic;
    text-decoration: underline;
    font-size: 7.5vmin;
  }
}

.productionContent-box_color_0 { // ####### 紫色の部分
  background: $themeColor_0;
  width: $productionContent-box_color_0_width;
}

.productionContent-box_color_1 { // ####### ネイビーの部分
  background: $themeColor_1;
  width: $productionContent-box_color_1_width;
}

.productionContent-box_color_2 { // ####### 空色の部分
  background: $themeColor_2;
  width: $productionContent-box_color_2_width;
}

.productionContent-box_color_3 { // ####### 黄色の部分
  cursor: pointer;
  transition: 0.25s;
  background: $themeColor_3;
  width: $productionContent-box_color_3_width;
  &:hover { // ホバーされた時
  background: $themeColor_orange;
  }
  a { //中のPタグ
    transition: 0.1s;
    opacity: 0;
    font-family: 'Russo one';
    font-style: italic;
    text-decoration: underline;
    color: #fff;
    font-size: 7.5vmin;
  }
}
.productionContent-box_color_3_status_hover { // ####### 制作物の要素全体がホバーされた時につけラエッルクラス
  width: $productionContent-box_color_3_status_hover_width;
  a {
    opacity: 1;
  }
}

// ####### 背景画像 #######
.productionImage {
  position: absolute;
  top: $production_height * (1 - 0.75) / 2;
  z-index: 1;
  overflow: hidden;
  width: 100vw - $productionContent-box_width;
  height: $production_height * 0.75;
  background: #dddddd;
}

.productionImage-image {
  position: relative;
  transform: scale(1.5);
  // background: url('./images/productionImage.jpg') center/cover;
  width: inherit;
  height: inherit;
  filter: brightness(0.75);
}
.productionImage-image_status_hover {

}

// ####### ホバーした時のあれ #######
.production-hoverFrame {
  transition: 0.25s;
  position: absolute;
  top: $production_height * (1 - 0.75 * 1.1) / 2;
  // right: 0;
  z-index: 0;
  width: $productionContent-box_width;
  height: $production_height * 0.75 * 1.1;
  background: $themeColor_3;
}
.production-hoverFrame_status_hover {
  width: 100vw;
}











// ##############################
// 表示領域が横長の時
// ############################3

@media all and (orientation: landscape){

  // ############## 要素の向き ##############

  // ####### 制作物の番号が奇数だったら
  .production:nth-child(odd){

    .productionContent { //説明部分の要素を右寄りに
      right: 0;
      flex-direction: row-reverse;
      & .productionTextField {
        right: 0;
        align-items: flex-start;
        p {
          text-align: left;
        }
      }
      & .productionJumpButton {
        right: 0;
      }
    }

    .productionImage { left: 0; }
    .production-hoverFrame { right: 0; }

  }


  // ####### 制作物の番号が偶数だったら
  .production:nth-child(even){

    .productionContent { //左寄りに
      left: 0;
      flex-direction: row;
      & .productionTextField {
        left: 0;
        align-items: flex-end;
        p {
          text-align: right;
        }
      }
      & .productionJumpButton {
        left: 0;
      }
    }
    .productionImage { right: 0; }
    .production-hoverFrame { left: 0; }

  }

}



// ##############################
// 表示領域の比率が7:9~1:1の時
// ##############################

@media all and (min-aspect-ratio: 7 / 9) and (max-aspect-ratio: 1 / 1){
  $square_production_height: 60vh;
  // ####### 制作物 #######
  .prooduction {
    height: $square_production_height;
  }
}





// ###########################
// 表示領域が縦長の時
//############################

@media all and (orientation: portrait){

  /*##################################################################################
  メインコンテンツ*/

  .mainContents {
    top: 95vw;
  }

  //変数定義
  $portrait_production_height: 60vw;

  $portrait_productionContent-box_color_0_width:              7.5vw;
  $portrait_productionContent-box_color_1_width:                40vw;
  $portrait_productionContent-box_color_2_width:             5vw;
  $portrait_productionContent-box_color_3_width:              2.5vw;
  $portrait_productionContent-box_color_3_status_hover_width: 12.5vw;
  // $portrait_productionContent-box_color_0_width:              10vw;
  // $portrait_productionContent-box_color_1_width:                40vw;
  // $portrait_productionContent-box_color_2_width:             7vw;
  // $portrait_productionContent-box_color_3_width:              3vw;
  // $portrait_productionContent-box_color_3_status_hover_width: 10vw;

  $portrait_productionContent-box_width:
    $portrait_productionContent-box_color_0_width  + $portrait_productionContent-box_color_1_width +
    $portrait_productionContent-box_color_2_width + $portrait_productionContent-box_color_3_width ;

  .productionGroup-name {
    height: $portrait_production_height / 3;
  }

  .production {
    height: $portrait_production_height;
  }

  .productionTextField { //説明
    width: $portrait_productionContent-box_color_0_width + $portrait_productionContent-box_color_1_width;
  }

  .productionJumpButton {
    width: $portrait_productionContent-box_color_0_width + $portrait_productionContent-box_color_1_width + $portrait_productionContent-box_color_2_width;
  }

  .productionContent-box_color_0 { // ####### 紫色の部分
    background: $themeColor_0;
    width: $portrait_productionContent-box_color_0_width;
  }

  .productionContent-box_color_1 { // ####### ネイビーの部分
    background: $themeColor_1;
    width: $portrait_productionContent-box_color_1_width;
  }

  .productionContent-box_color_2 { // ####### 空色の部分
    background: $themeColor_2;
    width: $portrait_productionContent-box_color_2_width;
  }

  .productionContent-box_color_3 { // ####### 黄色の部分
    width: $portrait_productionContent-box_color_3_width;
  }
  .productionContent-box_color_3_status_hover { // ####### 制作物の要素全体がホバーされた時につけラエッルクラス
    width: $portrait_productionContent-box_color_3_status_hover_width;
  }

  // ####### 背景画像 #######
  .productionImage {
    top: $portrait_production_height * (1 - 0.75) / 2;
    width: 100vw - $portrait_productionContent-box_width;
    height: $portrait_production_height * 0.75;
  }

  // ####### ホバーした時のあれ #######
  .production-hoverFrame {
    top: $portrait_production_height * (1 - 0.75 * 1.1) / 2;
    width: $portrait_productionContent-box_width;
    height: $portrait_production_height * 0.75 * 1.1;
  }
  .production-hoverFrame_status_hover {
    width: 100vw;
  }

  .productionTextField { //説明
    .productionDescription {
      p {
        font-size: 4vmin;
      }
    }
  }



  // #######
  .production { //制作物の文章を全部左寄りに

    .productionContent { //左寄りに
      left: 0;
      flex-direction: row;
      & .productionTextField {
        left: 0;
        align-items: flex-end;
        p {
          text-align: right;
        }
      }
      & .productionJumpButton {
        left: 0;
      }
    }
    .productionImage { right: 0; }
    .production-hoverFrame { left: 0; }

  }

  // .production:nth-child(odd){
  //
  //   .productionContent { //説明部分の要素を右寄りに
  //     right: 0;
  //     flex-direction: row-reverse;
  //     & .productionTextField {
  //       right: 0;
  //       align-items: flex-start;
  //       p {
  //         text-align: left;
  //       }
  //     }
  //     & .productionJumpButton {
  //       right: 0;
  //     }
  //   }
  //
  //   .productionImage { left: 0; }
  //   .production-hoverFrame { right: 0; }
  //
  // }
  //
  //
  // // ####### 制作物の番号が偶数だったら
  // .production:nth-child(even){
  //
  //   .productionContent { //左寄りに
  //     left: 0;
  //     flex-direction: row;
  //     & .productionTextField {
  //       left: 0;
  //       align-items: flex-end;
  //       p {
  //         text-align: right;
  //       }
  //     }
  //     & .productionJumpButton {
  //       left: 0;
  //     }
  //   }
  //   .productionImage { right: 0; }
  //   .production-hoverFrame { left: 0; }
  //
  // }

}
