html {

}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    // background: #0e111f;
}

.flex {
    display: flex; /* 要素をflexboxに対応させる */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}

.contents {
  position: relative;
}

/*##################################################################
バナー*/

.banner {
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  position: relative;
  z-index: -20;
  background: #333333;
  // filter: brightness(0.8) saturate(0.8);
}
.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vw;
}
.banner-image_name_min {
  z-index: -15;
  background: url('/images/banner/landscape/landscape_min.jpg') center/cover;
}

// ###########################
// 表示領域が縦長の時
//############################

@media all and (orientation: portrait){
  /*#############################################################################
  バナー*/

  .banner {
    width: 100vw;
    height: 100vw;
  }
  .banner-image {
    width: inherit;
    height: inherit;
  }
  .banner-image_name_min {
    background: url('/images/banner/portrait/portrait_min.jpg') center/cover;
  }

  /*##################################################################################
  メインコンテンツ*/

  // .mainContent {
  //   top: 95vw;
  // }

}
