$header_height: 7.5vh;
$header_z-index: 100;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header_z-index;
  width: 100vw;
  height: $header_height;
  // background: rgba(#0e111f, 0.8);
  // background: rgba(#ffffff, 0.95);
  background: #222;
  // opacity: 0.95;
  flex-direction: row;
  justify-content: flex-end;
}


// ####### ヘッダーのリンク #######
.headerLinks {
  width: 50vw;
  height: inherit;
  flex-direction: row-reverse;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.headerLinks-link {
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  transition: 0.25s;
  flex-shrink: 1;
  flex-basis: $header_height;
  height: $header_height;
  background: #777;
  overflow: hidden;
  i {
    font-size: $header_height / 2;
    color: #fff;
  }
  a {
    display: none;
    margin: 0 0 0 $header_height / 4;
    font-family: 'Mplus 1p';
    font-size: $header_height / 4;
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    flex-basis: $header_height * 2.5;
    background: #555;
    a {
      display: block;
    }
  }
}

.headerLinks-link_name_twitter {
  background: #1a8ed7;
  &:hover {
    background: #136fdb;
  }
}

.headerLinks-link_name_youtube {
  background: #d7641a;
  &:hover {
    background: #db7f13;
  }
}








@media all and (orientation: portrait){

  .header {
    height: 7.5vh;
  }

}
