@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?59dfxa');
  src:  url('fonts/icons.eot?59dfxa#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?59dfxa') format('truetype'),
    url('fonts/icons.woff?59dfxa') format('woff'),
    url('fonts/icons.svg?59dfxa#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
