.banner-image_name_logo {
  z-index: -10;
  background: url('/images/banner/landscape/landscape_logo.png') center/cover;
}
.banner-image_name_overlay {
  z-index: -11;
  background: linear-gradient(rgba(#000000, 0), rgba(#000000, 0), rgba(144, 28, 77, 0.5));
  // background: linear-gradient(rgba(#000000, 0), rgba(#000000, 0), rgba(#000000, 0.5));
}
.banner-image_name_forest {
  z-index: -12;
  background: url('/images/banner/landscape/landscape_forest.png') center/cover;
}
.banner-image_name_mountain {
  z-index: -13;
  background: url('/images/banner/landscape/landscape_mountain.png') center/cover;
}
.banner-image_name_base {
  z-index: -14;
  background: url('/images/banner/landscape/landscape_include.png') center/cover;
  // filter: saturate(0.9) contrast(1.1) ;
}
// .banner-image_name_min {
//   opacity: 0;
// }

// ###########################
// 表示領域が縦長の時
//############################

@media all and (orientation: portrait){

  .banner-image_name_forest {
    background: url('/images/banner/portrait/portrait_forest.png') center/cover;
  }
  .banner-image_name_mountain {
    background: url('/images/banner/portrait/portrait_mountain.png') center/cover;
  }
  .banner-image_name_logo {
    background: url('/images/banner/portrait/portrait_logo.png') center/cover;
  }
  .banner-image_name_base {
    background: url('/images/banner/portrait/portrait_include.png') center/cover;
  }

}
